#Settings
SECRET_KEY=django_secret_key
DEBUG=True/False

#DATABASES
DB_ENGINE=django_db_backends_engine 
DB_NAME=name_database
DB_USER=user_database
DB_PASSWORD=password_user_database

#Stripe
STRIPE_API_KEY=stripe_key

# URL-адрес брокера сообщений
CELERY_BROKER_URL=url_broker
CELERY_RESULT_BACKEND=url_broker

# Email settings
EMAIL_HOST=smtp_name_host
EMAIL_PORT=port_host
EMAIL_HOST_USER=username@email.ru
EMAIL_HOST_PASSWORD=password_host_user
EMAIL_USE_SSL=True/False